html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
    overflow-x:hidden;
	width: 100%;
}

#bg{
	background: url(../img/demo.jpg) center/cover;
	min-height: 100vh;
	background-attachment: fixed;
}
.bg-tlumaczenia{
	background: url(../img/building.jpg) center/cover;
	min-height: 100vh;
	background-attachment: fixed;
}
.menu{
	margin: auto;
	display: flex;
	margin-top: -35px;
}
.navbar_1{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	border-radius: 5px;
	text-align: center;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 1;
}

.navbar_1.color-change{
	background-color: #FFFFFF;
    height: 75px;
    color: rgba(255,254,255,.8);
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
  
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.bg-light{
	background-color: rgba(255, 255, 255, 0)!important;
}
.navbar-brand{
	margin-top: 15px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.navbar-brand.margin-clear{
	margin-top: 0px;
}
.nav-item{
	margin-left: 50px;
	margin-top: 15px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-weight: bold;
}
#navbarNav{
	margin-top: -45px;
}
.nav-link-mobile{
	background-color: white;
	width: 100%;
	border-top: 1px solid black;
}
.navbar-menu{
	width: 100%;
	background-color: black;
}
.nav-item:hover{
	opacity: 0.5;
}
.nav-item.margin-clear{
	margin-top: 0px;
	color: black;
}
#navbarNav .nav-item{
	margin-top: 0;
}
#navbarNav .mobile-menu-ul{
	color: black;
}
#navbarNav .mobile-menu-ul2{
	margin-top: 20px;
}
@media (max-width: 1000px){
	.nav-link{
		color: black!important;
	}
}
@media (min-width: 1000px){
	.nav-link{
		color: white!important;
	}
}
.nav-link.margin-clear{
	color: black!important;
}

#top{
	width: 60%;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 100px solid #0075a5;
	position: absolute!important;
	top: 0;
	left: 20%;
    margin-right: 5% auto;
	margin-left: 5% auto;
}
.columns-language{
	height: 356px;
	left: 0;
	margin: 0;
	position: relative;
	float: left;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.sec1{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.sec1:hover{
	background-color: #0075a5;
	color: white;
}
.france{
	background-color: #f8f9fa;
}
.flag{
	padding: 50px;
	width: 250px;
	float: left;
}
.row{
	width: 100%;
	margin-right: 0px;
	margin-left:0px;
}
.languages{
	display: block;
	position: relative;
	float: right;
	margin-top: -80px;
	margin-right: 50px;
}
.language-img{
	width: 50px;
	margin-right: 15px;
	
}

.language-h{
	float: left;
	padding-top: 90px;
}
.language-description{
	float: left;
}
.learn-more{
	float: right;
	border-radius: 25px;
	border: 2px solid #000000;
	font-weight: bold;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.language-p{
	float: left;
}
.about{
	padding: 20px;
	font-size: 18px;
}
.about-h{
	text-align: center;
	margin-top: 50px;
}
.price{
	text-align: center;
	padding: 20px;
}
.price-h{
	margin-top: 50px;
}
.offer{
	text-align: center;
	padding: 20px;
	background-color: #f3f4f6;
}
.offer-h{
	margin-top: 50px;
}
.contact{
	text-align: center;
	padding: 20px;
	background-color: #0075a5;
	color: white;
}
.contact-h{
	margin-top: 50px;
}
.fas{
	font-size: 24px;
	float: left;
}
.contact p{
	float: left;
	font-size: 18px;
	margin-left: 20px;
}
.contact-information{
	margin-top: 100px;
}
.contact-information form{
	margin-top: 100px;
}
footer{
	background-color: f3f4f6;
	padding: 30px;
}
footer p{
	float: right;
}
.btn{
	float: left;
}
@media (max-width: 1302px) {
	.flag{
		margin-left: 20%;
	}
}
footer{
	padding: 15px;
}
.table-price{
	border-collapse: collapse;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	overflow: hidden;
}
.table .thead-light th{
	background-color: #0075a5;
	color: white;
}

tr{
	border: 1px solid #dee2e6;
}
.toplogo{
	display: none;
}
#logo2{
	position: absolute;
	top: 0;
	left: 0;
	width: 26%;
}
.logoo{
	display: none;
}
.navbar_margin{
	margin-top: 50px;
}

.svg-animation path{
	stroke-dasharray: 160;
	opacity: 10;
	animation: animate 2s cubic-bezier(0,0.23,1,.1);
}
@keyframes animate{
	0%{
		opacity: 0;
		fill: none;
		stroke-dashoffset: 160;
	}
	30%{
		opacity: 10;
		fill: none;
		stroke-dashoffset: 160;
	}
	90%{
		fill: rgba(26, 122, 168, 0)
	}
	100%{
		opacity: 10;
		fill: rgba(26, 122, 168, 1)
		stroke-dashoffset: 160;
	}
}
.svg-animation2 path{
	stroke-dasharray: 160;
	opacity: 10;
	animation: animate 3s cubic-bezier(0,0.23,1,.1);
}
@keyframes animate{
	0%{
		opacity: 0;
		fill: none;
		stroke-dashoffset: 160;
	}
	30%{
		opacity: 10;
		fill: none;
		stroke-dashoffset: 160;
	}
	90%{
		fill: rgba(26, 122, 168, 0)
	}
	100%{
		opacity: 10;
		fill: rgba(26, 122, 168, 1)
		stroke-dashoffset: 160;
	}
}

@media (max-width: 1475px) {
	.navbar-nav{
		margin-left: -80px;
	}
}


@media (max-width: 1320px){
	#top{
		width: 80%;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 100px solid #0075a5;
		position: absolute!important;
		top: 0;
		left: 10%;
		margin-right: 5% auto;
		margin-left: 5% auto;
	}

}
@media (max-width: 992px){
	.navbar-expand-lg .navbar-toggler {
		display: block!important;
		position: absolute;
		right: 50px;
		margin-top: 50px;
	}

	#logo2{
		top: -40px;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		width: 200px;
	}
	#top{
		border-top: 0px;
	}
	.about-text{
		text-align: center;
	}
}
.navbar-light .navbar-toggler{
	border: none;
}

@media (min-width: 700px) and (max-width: 1600px){
	.about-text{
		margin-left: 100px;
	}
}
@media (max-width: 1256px){
	.pisa{
		display: none;
	}
	.about-text{
		max-width: 80%;
		flex: 0 0 100%;
	}
}
@media (max-width: 700px){
	.about-text{
		margin-left: 0px;
		max-width: 100%;
		flex: 0 0 100%;
	}
}
@media (max-width: 855px){
	svg{
		margin-top: 25px;
		width: 250px;
		height: 250px;
	}
}
@media (max-width: 730px){
	.svg-offer{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.text-offerx1{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.h2-offer{
		text-align: center;
	}
	.offer-text{
		text-align: center;
	}
}

@media (max-width: 1260px){
	iframe{
		max-width: 100%;
		flex: 0 0 100%;
	}
}
.svg-about-3{
	display: block;
	float: left;
	margin-top: 95px;
	width: 150px;
	height: 150px;
}
.svg-about-2{
	display: block;
	float: right;
	width: 150px;
	height: 150px;
}
.svg-about-1{
	display: block;
	left: 0;
	width: 150px;
	height: 150px;
}



@media (max-width: 1376px){
	.svg-about-3{
		margin-top: 0px;
		margin-left: -175px;
	}
}
@media (max-width: 1256px){
	.about-svg-all{
		max-width: 100%;
		flex: 0 0 100%;
		display: inline-block;
	}
	.svg-about-1{
		margin-left: 80px;
		float: left;
	}
	.svg-about-2{
		float: left;
		margin-left: 20%;
	}
	.svg-about-3{
		float: right;
		margin-top: -50px;
	}
}
@media (max-width: 1100px){
	.svg-about-2{
		float: left;
		margin-left: 10%;
		
	}
}
@media (max-width: 880px){
	.svg-about-2{
		float: left;
		margin-left: 5%;
	}
}

@media (max-width: 855px){
	.svg-about-3{
		margin-top: -25px;
	}
}
@media (max-width: 830px){
	.svg-about-1{
		margin-left: 150px;
	}
	.svg-about-2{
		margin-left: -20px;
	}
	.svg-about-3{
		margin-top: -145px;
	}
}
@media (max-width: 795px){
	.svg-about-1{
		display: none;
	}
	.svg-about-2{
		display: none;
	}
	.svg-about-3{
		display: none;
	}
}
@media (min-width: 992px){
.mobile-menu-ul{
		display: none;
	}
}
@media (max-width: 992px){
.no-mobile-menu{
		display: none;
	}
}
@media (max-width: 730px){
	.table-1{
		max-width: 100%;
		flex: 0 0 100%;
	}
	.table-2{
		max-width: 100%;
		flex: 0 0 100%;
	}
}
	@media (max-width: 767px){
	.contact .row{
		margin-top: -150px;
	}
}

